<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <connectionStrings>
        <add name="CourseAssignment.Properties.Settings.CAConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\CA.accdb"
            providerName="System.Data.OleDb" />
    <add
			name="CADataAccess"
			providerName="System.Data.SqlClient"
    connectionString="server=localhost;AttachDbFileName=F:\CSharpCream.NET-15\CourseAssignment\Data\CourseAssignment.mdf;Integrated Security=true;Database=CourseAssignment;"/>
    </connectionStrings>
  <dataConfiguration defaultDatabase="CADataAccess"/>
</configuration>

